.topFlex {
    display: flex;
    align-items: center;
}

.lineF {
    width: 150px;
    height: 1px;
    background-color: #002664;
}

.lineS {
    width: 1000px;
    height: 1px;
    background-color: #002664;
}

.div{ 
    padding: 9px 0;
    border: 5px solid #002664;
    width: 156px;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}

.botFlex {
    display: flex;
    align-items: start;
}

.con {
    padding-top: 10px;
    color: #002664;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    color:  #003370;
}

.text span {
    color: #002664;
}

.info h3 {
    margin-top: 0;
}

.Item  li:not(:last-child){
    padding-top: 25px;
}